* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 #root {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f1c5b6;
  padding: 1rem;
 }

 .container {
  background-color: #fff;
 }

 h1, h2, p, li {
  font-family: 'League Spartan', sans-serif;
 }